[Desktop Entry]
Name=HP Laptop Manager
Comment=HP dizüstü bilgisayar yönetim aracı
Comment[en]=HP Laptop management tool
Exec=/usr/bin/hp-manager
Icon=/usr/share/hp-manager/images/hplogolight.png
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=HP;Omen;Victus;Fan;RGB;GPU;Gaming;
StartupNotify=true
